.spisok{
    display: flex;
   text-align: center;
    margin-top: 100px;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
}
.item{
    max-height: 30px;
    height: 100%;
    max-width: 30px;
    width: 100%;
    background-color: bisque;
    color: black;
    border: 1px solid #333;
    cursor: pointer;
    margin: 5px;
    font-size: 20px;

}
.item:hover{
 background: rgb(202, 189, 173);
}
.item:active{
 background: rgb(202, 189, 173);

}
.btns{
    margin-top: 30px;
    text-align: center;
}