.mainContent{
  font-size: 24px;
  background: rgb(234, 234, 234);
  min-height: 100vh;
  height: 100%;
  max-width: 1400px;
  width: 100%;
  margin: 65px auto 35px;
  padding: 50px 0;
  border-radius: 10px;
}

@media screen and (max-width: 370px){
  .mainContent{
    margin: 40px auto 30px;
  }
}